/* src/components/NavBar/NavBar.module.css */

.container {
    top: 0; 
    z-index: 1;
    width: 100%;
    height: 40px;
    display: flex;
    position: fixed; 
    padding: 14px 21px;
    padding-right: 8px;
    align-items: center;
    background: #001025d9;
    border-bottom: 1px solid  #001025d9;
    font-size: 10px;
  }

  .container a:hover {
    color: rgb(154, 16, 16);
  }

  .container img {
    width: 50px;
  }
  
  .container ul {
    margin: 0;
    width: 100%;
    display: flex;
    list-style: none;
    font-weight: bold;
    align-items: center;
    justify-content: flex-end;
  }
  
  .container li {
    margin-left: 20px;
    text-align: right;
  }
  
  .container li a {
     color: #ffffff;
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  }

  @media only screen and (max-width: 414px) {
    .container ul {
      padding-left: 0px;
    }
    .container li {
      font-size: 15px;
    }
  }

  .joinButton {
    display: inline-block;
    padding: 4px 7px;
    background-color: #bc002f;
    color: #ffffff;
    border: none; 
    text-align: center;
    text-decoration: none; 
    font-size: 13px;
    font-weight: bold;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  .joinButton:hover {
    color:rgb(154, 16, 16);
  }

  