/* Details and comments */

.container {
    min-height: 100vh;
    display: flex;
    overflow: scroll;
    align-items: center;
    flex-direction: column;
    background-color: #fafafa;

  }


.headerSection {
    /* display: flex; */
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    padding: 40px;
}
  

.card {
    display: flex;
    /* background-color: aqua; */
    flex-direction: column;
    width: 430px;
    padding: 30px 30px;
    height: 370px;
    border: 1px solid var(--border);
  background-color: var(--card-background);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  margin-bottom: 1px;
  margin-top: 10px;
}

.button-link:hover {
    background-color: #cda780;
    cursor: pointer;
  }

.container header article p {
  display: flex;
  padding: 2px;
  margin: 3px;
  background-color: #EAEAEA;
  /* opacity: 0.05 !important; */
  border-radius: 4px;
}


.guestForm {
    /* background-color: darkviolet; */
    display: flex;
    flex-direction: column;
    /* background-color: brown; */
    background-color: #fafafa;
    width: 440px;
    height: 650px;
    margin-bottom: 1px;
}

.guestList {
    /* background-color: rgb(230, 66, 66); */
    display: flex;
    width: 440px;
    flex-direction: column;
    padding: 30px 30px;
    margin-top: 100px;
    border: 1px solid var(--border);
  background-color: var(--card-background);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
    margin-bottom: 100px;
    box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);

}

.guestArticle {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 450px;
    margin-top: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    border: 0.1px solid black;
    box-shadow: 0 0 1px 0 black;
}

.editButton {
  display: inline-block;
  width: 20%;
  padding: 8px 8px;
  color: black;
  background-color: white;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.editButton:hover {
  cursor: pointer;
  background-color: #cda780;
  color:white;
  border: 1px solid white;
}

