/* Details and comments */

.container {
    min-height: 100vh;
    display: flex;
    overflow: scroll;
    align-items: center;
    flex-direction: column;
    background-color: #fafafa;
  }


.headerSection {
    /* display: flex; */
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    padding: 60px;
}
  

.card {
    display: flex;
    /* background-color: aqua; */
    flex-direction: column;
    width: 430px;
    padding: 30px 30px;
    height: 370px;
    border: 1px solid var(--border);
  background-color: var(--card-background);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  margin-bottom: 1px;
  margin-top: 10px;
}

.button-link:hover {
    background-color: #cda780;
    cursor: pointer;
  }


.container header article p {
  display: flex;
  background-color: aqua;
  padding: 1px;
  margin: 2px;
  background-color: rgb(234, 234, 204);
}


.guestForm {
    /* background-color: darkviolet; */
    display: flex;
    flex-direction: column;
    /* background-color: brown; */
    width: 440px;
    height: 650px;
    margin-bottom: 1px;
}

.guestList {
    background-color: white;
    display: flex;
    width: 440px;
    flex-direction: column;
    padding: 40px 30px;
    margin-top: 1px;
    border: 1px solid var(--border);
  background-color: var(--card-background);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
    margin-bottom: 20px;
    box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  margin-bottom: 1px;

}

.guestArticle {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-top: 40px;
    padding: 20px;
    border-radius: 15px;
}

.editButton {
  display: inline-block;
  width: 20%;
  padding: 8px 8px;
  color: black;
  background-color: white;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin-top: 17px;
}

.editButton:hover {
  cursor: pointer;
  background-color: #cda780;
  color:white;
}

