/* Details and comments */

.container {
    min-height: 100vh;
    display: flex;
    overflow: scroll;
    align-items: center;
    flex-direction: column;
    background-color: #fafafa;
  }


.headerSection {
    /* display: flex; */
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    padding: 60px;

}
  

.card {
    display: flex;
    flex-direction: column;
    width: 440px;
    padding: 35px 20px;
    height: 420px;
    border: 1px solid var(--border);
  background-color: var(--card-background);
 
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  margin-bottom: 1px;
  margin-top: 40px;
}

.button-link:hover {
    background-color: #cda780;
    cursor: pointer;
  }


.container header article p {
    padding: 5px;
}


.guestForm {
    /* background-color: darkviolet; */
    display: flex;
    flex-direction: column;
    /* background-color: brown; */
    width: 440px;
    height: 650px;
    margin-bottom: 1px;
}

.guestList {
    background-color: #bc002f;
    display: flex;
    width: 440px;
    flex-direction: column;
    padding: 40px 30px;
    margin-top: 1px;
    margin-bottom: 20px;

}

.guestArticle {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-top: 40px;
    padding: 20px;
    border-radius: 15px;



}

