.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px;
}

.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:10px ;
  text-align: center;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  text-align: center;

}